.blog-content {
    flex: 9;
    color: rgb(210, 210, 210);

    .blog-content-wrapper {
        padding: 20px;
        display: flex;
        flex-direction: column;

        .blog-content-img {
            width: 100%;
            height: 300px;
            border-radius: 5px;
            object-fit: cover;
        }

        .blog-content-title-input {
            text-align: center;
            margin: 40px 10px 40px 10px;
            font-family: 'Lora', serif;
            font-style: normal;
            font-size: 36px;
            background-color: transparent;
            color: rgb(210, 210, 210);
            border: none;

            &:focus {
                outline: none;
                border: none;
                border-bottom: 1px solid rgb(90, 90, 90);
            }
        }

        .blog-content-title {
            text-align: center;
            margin: 40px 10px 40px 10px;
            font-family: 'Lora', serif;
            font-style: normal;
            font-size: 36px;

            .blog-content-edit {
                float: right;
                font-size: 20px;
                padding: 10px 0;

                :first-child {
                    color: teal;
                }

                :last-child {
                    color: tomato;
                }

                .blog-content-icons {
                    margin-left: 10px;
                    cursor: pointer;
                }
            }
        }

        .blog-content-info {
            margin: 0 10px 40px 10px;
            display: flex;
            justify-content: space-between;
            font-size: 18px;
            color: pink;
        }


        .blog-content-description-input {
            border: none;
            background-color: transparent;
            color: rgb(210, 210, 210);
            font-size: 20px;
            line-height: 35px;
            padding: 10px;

            &:focus {
                outline: none;
                border: 1px solid rgb(90, 90, 90);
            }
        }

        .blog-content-description {
            margin: 0 10px;
            font-size: 20px;
            line-height: 35px;
            text-align: justify;
            text-justify: auto;
        }

        .blog-content-description::first-letter {
            margin-left: 40px;
            font-size: 40px;
            font-weight: 600;
        }

        .edit-submit-button {
            color: rgb(25, 25, 25);
            background-color: plum;
            padding: 10px;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            font-size: 16px;
            width: 100px;
            margin-top: 30px;
            align-self: flex-end;
        }
    }
}